.markdown{
  width: 500px;
  padding: 10px;
  outline: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 101, 136);
  border-radius: 20px;
  box-shadow: 1px 1px 10px 2px black;
}